.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: rgb(243, 240, 237);
}
.cart-container {
  background-color: rgb(224, 182, 127);
  border-radius: 8px;
  text-align: center;
}
.cart-container img {
  width: 80px;
  height: 60px;
}
.shop-btn-cart {
  width: 150px;
  background-color: #ffe0b3;
  color: firebrick;
  border-radius: 5px;
}
/* .search-container {
  text-align: center;
  padding-bottom: 40px;
}
.search-box {
  width: 350px;
  height: 40px;
  background-color: #ffe0b3;
}
.btn {
  height: 40px;
  color: black;
  background-color: #dfaf68;
} */
@media only screen and (max-width: 580px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
