.card{
  background-color: rgb(224, 182, 127);
}
.shop-card {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: rgb(224, 224, 200);
}
.cart-cont {
  background-color: rgb(224, 182, 127);
  border-radius: 10px;
  text-align: center;
}
.cart-cont img {
  width: 80px;
  height: 60px;
}
.shop-btn-cart {
  width: 150px;
  background-color: lightcoral;
  color: firebrick;
  border-radius: 10px;
  border: 1px solid black;
}
@media only screen and (max-width: 580px) {
  .shop-card {
    display: grid;
    grid-template-columns:1fr 1fr;
  }
  .products-card {
    display: grid;
    width: 50;
    grid-template-columns: repeat(1, 1fr);
  }
}
